/src/Makefile.Debug
/src/Makefile.Release
/src/SimpleInvoice.pro.user.3f48197
/src/SimpleInvoice.pro.user.aec3782
/src/object_script.SimpleInvoice.Debug
/src/object_script.SimpleInvoice.Release
/bin/*
/src/SimpleInvoice.pro.user
/src/Makefile
/src/build_tmp/*
*qrc_*.cpp
*.qm
*.o
*moc_*.cpp
*ui_*.h